.contact-section {
  background: #000;

  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 120px;
    max-width: 1440px;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #eaeaea;
  border-radius: 40px;
  padding: 40px 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
    padding: 80px 40px;
  }
}

.contact-subtitle {
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 24px;
  }
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.12;
  text-transform: uppercase;
  text-align: center;
  color: #f31b26;
  word-break: break-all;
  max-width: max-content;

  @include media(desktop) {
    font-size: 28px;
    gap: 8px;
  }
}

.contact-icon {
  min-width: 24px;

  @include media(desktop) {
  }
}
