.faq-section {
  background: #034858;

  @include media(desktop) {
  }
}

.faq-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/faq/faq-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
    background-image: url(../img/faq/faq-bg-desk.jpg);
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-content-wrapper {
  background: #0f1418;
  border-radius: 40px;
  padding: 40px 16px;

  @include media(desktop) {
    border-radius: 100px;
    padding: 64px 0px;
    max-width: 1088px;
    margin-left: auto;
    margin-right: auto;
  }
}

.faq-subtitle {
  margin-bottom: 48px;

  @include media(desktop) {
    max-width: 636px;
    margin-bottom: 64px;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
  }
}

.faq-list-item {
  border-bottom: 1px solid #f31b26;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 311px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 640px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #eaeaea;
  text-align: left;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
    font-size: 20px;
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  fill: #eaeaea;
  transition: fill 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #d4d4d4;
  max-width: 287px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    font-size: 20px;
    max-width: 616px;
  }
}

.is-visible {
  margin-top: 16px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(-90deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-btn-text {
  color: #f31b26;
}

.faq-list-item.faq-open .faq-icon {
  fill: #ff3503;
}

.faq-line-img {
  position: absolute;
  top: -15px;
  left: 0;

  @include media(desktop) {
    top: -13px;
  }
}
