.header {
  padding: 6px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding: 11px 0;
  }
}

.header-container {
  padding: 0 8px;

  @include media(desktop) {
    padding: 0 96px;
  }
}

.nav {
  background: rgba(3, 72, 88, 0.9);
  border-radius: 8px;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
    padding: 8px 16px;
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.nav-list-link {
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 8px 12px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-align: center;
  color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active,
  &.active {
    border-color: #eaeaea;
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
}

.close-icon {
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
