.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 352px;
  padding-bottom: 24px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;

  @include media(desktop) {
    padding-top: 308px;
    padding-bottom: 142px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
  }
}

.hero-text-wrapper {
  @include media(desktop) {
  }
}

.hero-line-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 8px;

  @include media(desktop) {
  }
}

.hero-line {
  background: #000;
  width: 100%;
  height: 1px;
  max-width: 114px;

  @include media(desktop) {
  }
}

.hero-circle-icon {
  stroke: #000;
  fill: none;
  min-width: 30px;

  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.16;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 42px;
  }
}

.hero-subtitle {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.08em;
  text-transform: lowercase;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 64px;

  @include media(desktop) {
    font-size: 24px;
  }
}

.hero-bottom-wrapper {
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #bfbfbf;
  border-radius: 16px;
  padding: 24px 16px;

  @include media(desktop) {
    display: flex;
    align-items: start;
    gap: 16px;
    padding: 40px 32px;
    max-width: 567px;
    margin-left: auto;
  }
}

.hero-img {
  margin-bottom: 16px;

  @include media(desktop) {
    min-width: 115px;
    margin-bottom: 0;
  }
}

.hero-bottom-text-wrapper {
  @include media(desktop) {
  }
}

.hero-bottom-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #2d2d2d;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.hero-bottom-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
    justify-content: center;
    gap: 8px;
  }
}

.hero-bottom-item {
  border: 1px solid #2d2d2d;
  border-radius: 50px;
  padding: 4px 8px;

  @include media(desktop) {
  }
}

.hero-bottom-item-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #2d2d2d;

  @include media(desktop) {
  }
}

.hero-line-img {
  position: absolute;
  bottom: -12px;
  left: 0;

  @include media(desktop) {
    bottom: -32px;
  }
}
