<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <svg class="about-logo-icon" width="57" height="36">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
        <h2 class="section-title about-title">Story World</h2>
        <p class="section-subtitle about-subtitle">
          Threadbound takes place in a symbolic world built from memories,
          moments, and unfinished connections.
        </p>
        <p class="about-text">
          Each area represents a different emotional state — trust, distance,
          hope, conflict.
        </p>
        <p class="about-text about-bottom-text">
          The world doesn’t explain itself directly. You understand it by
          interacting with it.
        </p>
      </div>
    </div>
  </div>
</section>
