<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <div class="faq-content-wrapper">
        <h2 class="section-title faq-title">FAQ</h2>
        <p class="section-subtitle faq-subtitle">
          Common questions about the experience and how the game unfolds.
        </p>
        <ul class="faq-list">
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Is Threadbound story-focused?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yeah, the story kind of builds itself as you play - it's not
              scripted out.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Are there traditional puzzles?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              It's more about feelings and how everything connects than solving
              puzzles.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can choices be undone?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Some changes are permanent, others evolve over time.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Is there pressure or time limits?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              No. The experience is slow and reflective.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Does the game guide the player?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Light guidance exists, but discovery is encouraged.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <picture>
      <source
        srcset="./img/faq/faq-line-desk.png"
        media="(min-width: 1440px)"
        width="1440"
        height="46" />
      <source srcset="./img/faq/faq-line-mob.png" width="375" height="46" />
      <img
        class="faq-line-img"
        src="./img/faq/faq-line-mob.png"
        alt="Line"
        width="375"
        height="46"
    /></picture>
  </div>
</section>
