<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <div class="section-title-wrapper gameplay-title-wrapper">
          <h2 class="section-title gameplay-title">Gameplay Flow</h2>
          <p class="section-subtitle gameplay-subtitle">
            Progress happens when the system reaches harmony, not when
            everything is “perfect.”
          </p>
          <p class="gameplay-text">
            Players interact with threads rather than characters:
          </p>
        </div>
        <div class="gameplay-list-wrapper">
          <img
            class="gameplay-img1"
            src="./img/gameplay/gameplay-img1-mob.png"
            alt="Screenshot of the game"
            width="336"
            height="506"
            loading="lazy"
          />
          <ul class="gameplay-list">
            <li class="gameplay-list-item">
              <picture>
                <source
                  srcset="./img/gameplay/gameplay-img2-desk.png"
                  media="(min-width: 1440px)"
                  width="944"
                  height="237" />
                <source
                  srcset="./img/gameplay/gameplay-img2-mob.png"
                  width="343"
                  height="237" />
                <img
                  class="gameplay-img2"
                  src="./img/gameplay/gameplay-img2-mob.png"
                  alt="Screenshot of the game"
                  width="343"
                  height="237"
                  loading="lazy"
              /></picture>
            </li>
            <li class="gameplay-list-item">
              <picture>
                <source
                  srcset="./img/gameplay/gameplay-img3-desk.png"
                  media="(min-width: 1440px)"
                  width="456"
                  height="237" />
                <source
                  srcset="./img/gameplay/gameplay-img3-mob.png"
                  width="343"
                  height="237" />
                <img
                  class="gameplay-img3"
                  src="./img/gameplay/gameplay-img3-mob.png"
                  alt="Screenshot of the game"
                  width="343"
                  height="237"
                  loading="lazy"
              /></picture>
            </li>
            <li class="gameplay-list-item">
              <picture>
                <source
                  srcset="./img/gameplay/gameplay-img4-desk.png"
                  media="(min-width: 1440px)"
                  width="456"
                  height="237" />
                <source
                  srcset="./img/gameplay/gameplay-img4-mob.png"
                  width="343"
                  height="237" />
                <img
                  class="gameplay-img4"
                  src="./img/gameplay/gameplay-img4-mob.png"
                  alt="Screenshot of the game"
                  width="343"
                  height="237"
                  loading="lazy"
              /></picture>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
