<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <div class="hero-line-wrapper">
            <div class="hero-line"></div>
            <svg class="hero-circle-icon" width="30" height="10">
              <use href="./img/sprite.svg#icon-circles"></use>
            </svg>
            <div class="hero-line"></div>
          </div>
          <h1 class="hero-main-title">Every connection carries weight.</h1>
          <p class="hero-subtitle">
            Shape relationships through choice, balance, and care.
          </p>
          <div class="hero-bottom-wrapper">
            <picture>
              <source
                srcset="./img/hero/hero-img-desk.png"
                media="(min-width: 1440px)"
                width="115"
                height="115" />
              <source
                srcset="./img/hero/hero-img-mob.png"
                width="80"
                height="80" />
              <img
                class="hero-img"
                src="./img/hero/hero-img-mob.png"
                alt="Screenshot of the game"
                width="80"
                height="80"
                loading="lazy"
            /></picture>
            <div class="hero-bottom-text-wrapper">
              <p class="hero-bottom-title">Core Experience</p>
              <ul class="hero-bottom-list">
                <li class="hero-bottom-item">
                  <p class="hero-bottom-item-text">Emotional</p>
                </li>
                <li class="hero-bottom-item">
                  <p class="hero-bottom-item-text">Narrative Choices</p>
                </li>
                <li class="hero-bottom-item">
                  <p class="hero-bottom-item-text">Relationship</p>
                </li>
                <li class="hero-bottom-item">
                  <p class="hero-bottom-item-text">Meaningful Consequences</p>
                </li>
                <li class="hero-bottom-item">
                  <p class="hero-bottom-item-text">Atmospheric World</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <picture>
      <source
        srcset="./img/hero/hero-line-desk.png"
        media="(min-width: 1440px)"
        width="1440"
        height="46" />
      <source srcset="./img/hero/hero-line-mob.png" width="375" height="18" />
      <img
        class="hero-line-img"
        src="./img/hero/hero-line-mob.png"
        alt="Line"
        width="375"
        height="18"
    /></picture>
  </div>
</section>
